/* Master Styles */
h1 {
	font-size: 250%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 1em;
	margin: 2em;
	text-align: justify;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	/*background-color: #B57EDC;*/
}

nav > li {
	display: inline-block;
}

tepei-brothers {
	width: 100%;
}

#brother-board {
	overflow: scroll;
	height: 600px;
	width: 100%;
	font-family: 'Permanent Marker', cursive;
}

/* TODO temporary values */
svg {
	height: 2500px;
}

.magenta {
	background-color: #a33558;
}

.green {
	background-color: #296f4a;
}

.blue {
	background-color: #224a6d;
}

.black {
	background-color: #120e0d;
}

.pink {
	background-color: #cb5966;
}

.yellow {
	background-color: #cca328;
}

.purple {
	background-color: #4b2645;
}

.red {
	background-color: #a7000f;
}

.white {
	background-color: #c19d7b;
}

.orange {
	background-color: #d14312;
}

.silver-text {
	color: #b3b3ad;
}