/* Master Styles */
h1 {
	font-size: 250%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 1em;
	margin: 2em;
	text-align: justify;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	/*fill: #B57EDC;*/
}

nav > li {
	display: inline-block;
}

tepei-brothers {
	width: 100%;
}

#brother-board {
	overflow: scroll;
	height: 600px;
	width: 100%;
	/*font-family: 'Permanent Marker', cursive;*/
}

/* TODO temporary values */
svg {
	height: 2500px;
}

.magenta {
	fill: #a33558;
}

.green {
	fill: #296f4a;
}

.blue {
	fill: #224a6d;
}

.black {
	fill: #120e0d;
}

.pink {
	fill: #cb5966;
}

.yellow {
	fill: #cca328;
}

.purple {
	fill: #4b2645;
}

.red {
	fill: #a7000f;
}

.white {
	fill: #c19d7b;
}

.orange {
	fill: #d14312;
}

.silver-text {
	fill: #b3b3ad;
}

.link {
	stroke: black;
	stroke-width: 3px;
	fill: none;
}

/* mbostock's Tree of Life */

.links {
  fill: none;
  stroke: #000;
}

.link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.labels {
  font: 10px sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}