<h2>
	About
</h2>
<p>
	Welcome to the official website for the Epsilon Iota chapter of Tau Epsilon Phi. Tau Epsilon Phi boasts a very tight-knit brotherhood, not only at RPI but also with our other chapter’s around the country. We are always welcoming to other TEP brothers no matter where or when they joined. A wide variety of majors and backgrounds, with an even broader spectrum of interests can be found in the house. The brotherhood currently consists of 17 active brothers who are all dedicated to upholding our ideals of Friendship, Chivalry, and Service.

	The chapter house is located at 1991 15th house provides boarding for twelve. Some notable rooms in the house include a furnished balcony and an industrial kitchen which was built just a few years ago. 

	TEP was founded at Columbia University on October 19, 1910 by ten Jewish men seeking a brotherhood free from exclusion based on race, religion, or creed. TEP was first founded at RPI in 1957 and was re-founded in 1988 after a struggle with membership numbers felt by many fraternities in the 1970’s. Due to events in the mid-1990’s and 2000’s the Epsilon Iota chapter broke away from the national organization and founded Tau Epsilon Pi on October 19, 2009 dedicated to preserving the customs, traditions, and ideals of the fraternity the chapter loves. Following the removal of a corrupt national officer in 2010, Tau Epsilon Phi is now back on its feet and on June 1, 2011 the Epsilon Iota chapter rejoined the ranks of our fellow Tau Boys. An extended history and more information on the national fraternity can be found at the TEP National website: www.tep.org. 

	For more information on the members, rush, and contact information be sure to check out the rest of the site and feel free to come by the house any time. TEPS are TOPS! 

	Zachary "Mad-Eye" Hayes 
	Chancellor
</p>