<div id="navContainer">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#media">Media</a></li>
					<li><a href="#recruitment">Recruitment</a></li>
					<li><a href="#philanthropy">Philanthropy</a></li>
					<li><a href="#brothers">Brothers</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<h1>THIS IS THE NEW TEPSITE</h1>
<img src="images/Benning Crest.jpg">

<tepei-about id="about"></tepei-about>
<tepei-media id="media"></tepei-media>
<tepei-recruitment id="recruitment"></tepei-recruitment>
<tepei-philanthropy id="philanthropy"></tepei-philanthropy>
<tepei-brothers id="brothers"></tepei-brothers>
<tepei-contact id="contact"></tepei-contact>